.card {
	color: #ffffff;
	display: inline-block;
	width: 80%;
	max-width: 350px;
    height: max-content;
	padding: 15px;
	background: rgb(30, 30, 50);
	border-radius: 10px;
	margin: 10px;
	text-decoration: none;
}

.card h1 {
	margin: 0 0 10px 0;
}

.card span {
	margin-right: 15px;
}

.card .fas {
	margin-right: 5px;
}